# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
.vs/
*.tlog
/Food'estroyer/Food'estroyer/x64/Release/Food'estroyer.tlog/CL.write.1.tlog
/Food'estroyer/Food'estroyer/x64/Release/Food'estroyer.tlog/CL.read.1.tlog
/Food'estroyer/Food'estroyer/x64/Release/Food'estroyer.tlog/CL.command.1.tlog
